body {
    background: linear-gradient(110deg, #df9881 50%, #58949c 50%);
    background-attachment: fixed;
}
section {
    width: 320px;
    padding: 15px;
    padding-right: 30px;
    border-radius: 5%;
    background-color: #DFD8DC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0;
    margin: 15px;
    font-family: 'Barlow', sans-serif;
    font-size: larger;
}
.operator, .number {
    cursor: pointer;
}
.empty, .number {
    background-color: transparent;
}
form {
    text-align: right;
    font-family: 'Barlow', sans-serif;
    padding-top: 15%;
    padding-bottom: 10%;
    display: flex;
    justify-content: center;
    width: 338px;
}
input {
    font-size: 30px;
    text-align: right;
    font-family: 'Barlow', sans-serif;
    width: 300px;
    border-radius: 50vh;
    border-color: #eba68f #58949c #58949c #eba68f;
    background-color: transparent;
    padding: 10px 10px 10px 0;
}
.empty:focus, .operator:focus, .number:focus {
    outline: 0;
}
#C, #CE {
    background-color: #98d5dd;
}
#divide, #multiply, #minus, #plus, #equal, #point {
    background-color: rgb(226, 186, 159);
}