html {
  height: 100%;
}
body {
  background: linear-gradient(130deg, #df9881 50%, #58949c 50%);
  background-attachment: fixed;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  height: 100%;
  margin: auto;
  font-family: "Barlow", sans-serif;
}
header {
  color: #58949c;
  font-size: 30px;
  text-align: center;
  width: 400px;
}
.use {
  color: #58949c;
  font-size: 20px;
  position: relative;
  top: -455px;
  margin-left: auto;
  margin-right: 67%;
}
.by {
  color: #df9881;
  font-size: 20px;
  position: relative;
  top: -250px;
  margin-right: auto;
  margin-left: 67%;
}
.linkgit {
  text-decoration: underline;

}
.calculator {
  width: 400px;
  border-radius: 5%;
  background-color: #dfd8dc;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  position: relative;
}
button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0;
  margin: 15px;
  font-family: "Barlow", sans-serif;
  font-size: larger;
}
.operator,
.number {
  cursor: pointer;
}
.empty,
.number {
  background-color: transparent;
}
form {
  text-align: right;
  font-family: "Barlow", sans-serif;
  padding-top: 15%;
  padding-bottom: 10%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 400px;
}
table {
  margin: auto;
}
td {
  text-align: center;
}
input {
  font-size: 30px;
  text-align: right;
  font-family: "Barlow", sans-serif;
  width: 300px;
  border-radius: 50vh;
  border-color: #eba68f #58949c #58949c #eba68f;
  background-color: transparent;
  padding: 10px 10px 10px 0;
}
.empty:focus,
.operator:focus,
.number:focus {
  outline: 0;
}
.erasecolor {
  background-color: #98d5dd;
}
.pastelcolor {
  background-color: rgb(226, 186, 159);
}
footer {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  margin: auto auto 0 auto;
  border-top: #df9881 2px solid;
  color: #df9881;
  width: 400px;
  font-size: 20px;
  font-family: "Barlow", sans-serif;
  position: relative;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  margin-top: 10px;
}
.contact {
  margin-left: auto;
}
@media all and (max-width: 1300px) {
  .use {
    width: 20%;
    margin-left: 20px;
  }
  .by {
    width: 20%;
    margin-right: 20px;
    margin-left: 77%;
    top: -300px;
  }
}
@media all and (max-width: 900px) {
  .by, .use {
    display: none;
  }
  header {
    margin: 0 auto 0 auto;
  }
  .calculator {
    margin-bottom: 20px;
  }
}
@media all and (max-width: 460px) {
  body {
    width: 320px;
  }
  .calculator {
    width: inherit;
    margin-left: 0;
    margin-right: 0;
  }
  td {
    margin: 0 0 0 10px;
    text-align: left;

  }
  input {
    padding: 0;
  }
  button {
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px;
  }
  table {
    margin: 0;
  }
}